{# Modified from base.html in flask_bootstrap4 #}
{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block metas %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- endblock metas %}

    {%- block head %}
    <title>{% block title %}{{ g.conference.informal_name }}{% endblock %}</title>
    <link rel="icon" href="{{ url_for("static", filename="favicon.png") }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="site.css") }}">
    {% block morestyles %}
    {%- endblock morestyles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for("views.index") }}">{{ g.conference.informal_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% for label, url, active in left_nav %}
            <li class="nav-item{% if active %} active{% endif %}">
              <a class="nav-link" href="{{ url }}">{{ label }}{% if active %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% endfor %}
          </ul>
          <ul class="navbar-nav">
            {% for label, url, active in right_nav %}
            <li class="nav-item{% if active %} active{% endif %}">
              <a class="nav-link" href="{{ url }}">{{ label }}{% if active %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    {%- endblock navbar %}

    {% block content %}
    {% set messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="container pt-3">
      {% for category, message in messages %}
      <div class="{%- if category == 'warning' -%}
      alert-warning
      {%- elif category == 'error' -%}
      alert-danger
      {%- else -%}
      alert-info
      {%- endif %} alert">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="main-container container pt-3">
      {% block container %}
      <div class="row">
        <div class="col">{% block main %}{% endblock %}</div>
      </div>
      {% endblock %}
    </div>
    {%- endblock content %}

    {% block footer %}
    <footer class="footer bg-light">
      <div class="container">
        <p>
        <small class="text-muted">
          Copyright &copy; 2019 Big Apple Py, Inc.
        </small>
        </p>
        <p>
        <small class="text-muted">
          Spot a problem? Email <a href="mailto:{{ g.conference.cfp_email }}">{{ g.conference.cfp_email }}</a>.
        </small>
        </p>
      </div>
    </footer>
    {% endblock footer %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% block morescripts %}
    {%- endblock morescripts %}
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
